.employee { 
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  /*border-radius: 6px;*/
  overflow: hidden;
  width: 100%;
  position: relative;
}
.employee * {
  position: relative;
}
.employee th{
  background: #f6f8fa !important;
}
.employee td, .employee th {
  padding-left: 8px;
  color: black !important;
}
.employee thead tr {
  height: 45px;
  font-size: 14px;
}
.employee tbody tr {
  height: 35px;
  border-bottom: 1px solid #f4f4f4;
}
.employee tbody tr:last-child {
  border: 0;
}
.employee td, .employee th {
  padding: 3px;
  text-align: left;
}
.employee td.l, .employee th.l {
  text-align: right;
}
.employee td.c, .employee th.c {
  text-align: center;
}
.employee td.r, .employee th.r {
  text-align: center;
}
.employee tr:hover{
  background-color: #f6f8fa !important;
}

